/**
  * @name BetterDarkMode
  * @author LeBronzPlayz#6413
  * @version 2.0.0
  * @description Deeper blacks with enchanced UI, source reforked from DevEvil#8745 github link to his source is given.
  * @authorId 311846416836329472
  * @source https://github.com/Devologger/BetterDarkMode-Discord-Theme
  * @website https://devologger.github.io/betterdarkmode/
  * @invite 36UJ2fYkQg
*/
@import url('https://devologger.github.io/betterdarkmode/theme/BetterDarkMode.theme.css');
:root {
  --betterdarkmode-bg: #181818;
  --betterdarkmode-bg2: #252525;
  --betterdarkmode-sec: #f9f9f9;
  --betterdarkmode-links: #ffffff;
  --betterdarkmode-mention-button: #202020;
  --betterdarkmode-home-icon: url(https://devologger.github.io/betterdarkmode/theme/logo.gif);
}