/**
  * @name BetterDarkMode
  * @author LeBronzPlayz#6413
  * @version 3.0.0
  * @description Windows 11 inspired flat ui - Dark mode Theme
  * @authorId 311846416836329472
  * @source https://github.com/Devologger/BetterDarkMode-Discord-Theme
  * @invite 36UJ2fYkQg
  * @website https://devologger.github.io/betterdarkmode/
*/
:root {
  --FluidUI-backcolor: #202020;
  --FluidUI-secondary: #2b2b2b;
  --FluidUI-text: #ffffff;
  --FluidUI-links: #ffffff;
  --FluidUI-mention-button: #202020;
  --FluidUI-unread: #61ccff;
  --FluidUI-scrollbar: #9a9a9a;
  --FluidUI-home-icon: url(https://devologger.github.io/betterdarkmode/theme/logo.gif);
  --FluidUI-sellected: #2d2d2d;
  --FluidUI-hover: #323232;
  --FluidUI-hoveronselection: #292929;
  --FluidUI-textarea: #1f1f1f;
  --FluidUI-textareaborder: #9a9a9a;
  --FluidUI-buttonhover: #5abae8;
  --FluidUI-border: #3a3a3a;
  --FluidUI-SearchBorder: #333333;
}