/**
  * @name Windows11Dark Theme
  * @author LeBronzPlayz#6413
  * @version 2.1.1
  * @description Windows 11 inspired Dark mode Theme
  * @authorId 311846416836329472
  * @source https://github.com/Devologger/Windows11Dark-Discord-Theme
  * @invite 36UJ2fYkQg
  * @website https://devologger.github.io/Windows11Dark

*/
@import url('https://devologger.github.io/betterdarkmode/theme/Windows11Dark.theme.css');
:root {
  --win10darkmode-bg: #202020;
  --win10darkmode-bg2: #2b2b2b;
  --win10darkmode-sec: #ffffff;
  --win10darkmode-links: #ffffff;
  --win10darkmode-mention-button: #202020;
  --win10darkmode-unread: #61ccff;
  --win10darkmode-scrollbar: #9a9a9a;
  --win10darkmode-home-icon: url(https://devologger.github.io/betterdarkmode/theme/logo.gif);
  --win10darkmode-sellected: #2d2d2d;
  --win10darkmode-hover: #323232;
  --win10darkmode-hoveronselection: #292929;
  --win10darkmode-textarea: #1f1f1f;
  --win10darkmode-textareaborder: #9a9a9a;
  --win10darkmode-buttonhover: #5abae8;
}